GITHUB_TOKEN=replace_with_your_github_token
GITHUB_REPO_OWNER=bella07021
GITHUB_REPO_NAME=crypto-project-reseach
GITHUB_BRANCH=main
TEAM_LINKEDIN_BUDGET_SECONDS=120
X_BROWSER_HEADLESS=1
X_BROWSER_WAIT_MS=7000
